:root {
  --main-color: #00ffff;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: "open sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/* start landing */
.landing-page {
  min-height: 100vh;
  background-image: url(../images/pexels-veeterzy-303383.jpg);
  background-size: cover;
  position: relative;
  border-bottom: 2px solid #00ffff;
}
@media (max-width: 790px) {
  .not {
    display: none;
  }
}
.bag {
  margin-right: 0.3rem;
}
